@import "tailwindcss";
.error {
  display: block;
  color: #ef4444;
  font-size: 0.65rem;
  margin-bottom: 0.25rem;
  margin-top: -0.5rem;
  height: 1rem;
}
input:focus {
  border-color: #8E51FF;
  border-width: 2px;
  outline: none;
}
